a {
    color: #61dafb;
}

h1{
    color: white;
    font-size: 11;
    margin-left: 8px;
    text-shadow: 4px 4px rgb(32, 48, 48);
}

label{
    color: white;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

input{
    background-color: lavender;
    border: 6px #423baa;
    border-style: solid;
    box-shadow: 13px 13px #1e0b52;
    display: block;
    height: 28px;
    max-width: 62vw; 
    padding-left: 6px;
    width: 246px;
}

select{
    background-color: lavender;
    border: 4px #270e4e;
    left: 16vw;
    position: relative;
}

.queryFormWrapper{
    background-color: #1f1131;
    padding-top: 24px;
    padding-bottom: 28px;
    margin: auto;
    width: fit-content;
}

.queryForm{
    background-color: #331874;
    border: #270e4e;
    border-width: 8px;
    border-style: solid;
    box-shadow: 15px 28px #120e24;
    width: fit-content;
}

.queryButton{
    background-color: #423baa;
    border: 0;
    box-shadow: 11px 11px #1e0b52;
    color: white;
    cursor: pointer;
    height: 28px;
    width: 62px;
}

.queryButtonWrapped{
    display: block;
    margin-bottom: 39px;
    margin-left: 16vw;
}