.FormSlider{
    align-items: center;
    align-content: center;
    background-color: #1f1131;
    cursor: grab;
}

.FormSlider:active{
    cursor: grabbing;
}

.stockTab, .cryptoTab{
    background-color: #423baa;
    border: 0;
    box-shadow: 13px 13px #1e0b52;
    color: white;
    cursor: pointer;
    height: 24px;
    width: 58px;
}