.FormSliderWrapper{
    align-items: center;
    align-content: center;
    background-color: #1f1131;
}

.FormSlider{
    align-items: center;
    align-content: center;
    background-color: #1f1131;
    cursor: grab;
}

.FormSlider:active{
    cursor: grabbing;
}

.nextForm{
    background-color: #423baa;
    border: 0;
    color: white;
    cursor: pointer;
    left: calc(50vw + 78px);
    position: relative;
    z-index: 99;
}

.prevForm{
    background-color: #423baa;
    border: 0;
    color: white;
    cursor: pointer;
    left: calc(50vw - 78);
    position: relative;
    z-index: 99;
}