.FormSlider{
    align-items: center;
    align-content: center;
    background-color: #29132e;
}

.SliderWrapper{
    align-items: center;
    align-content: center;
    background-color: #29132e;
    display: table;
}