a {
    color: #61dafb;
}

label, input {
    display: block;
}

label {
    color: white;
    margin-bottom: 20px;
}

.QueryFormWrapper{
    background-color: rgb(160, 104, 0);
    padding-bottom: 16vh;
    padding-left: 16px;
    padding-top: 6vh;
    top: 32vh;
}

.QueryForm{
    background-color: rgb(36, 56, 56);
    box-shadow: 5px 16px rgb(27, 41, 41);
}

.QueryButton{
    background-color: lavender;
    border: honeydew;
    color: slategray;
}