a {
    color: #61dafb;
}

label{
    color: white;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
}

input{
    background-color: lavender;
    border: 4px teal;
    border-width: 6px;
    border-style: solid;
    box-shadow: 4px 8px rgb(32, 48, 48);
    display: block;
    height: 28px;
    margin-left: 6px;
    width: 262px;
}

.QueryPadder{
    background-color: rgb(160, 104, 0);
    padding-bottom: 36vh;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;
}

.QueryForm{
    background-color: rgb(36, 56, 56);
    border: rgb(28, 48, 48);
    border-width: 8px;
    border-style: solid;
    box-shadow: 8px 32px rgb(27, 41, 41);
}

.QueryButton{
    align-items: center;
    justify-content: center;
    background-color: lavender;
    border: 4px teal;
    border-width: 6px;
    border-style: solid;
    box-shadow: 4px 8px rgb(68, 68, 68);
    color: slategray;
    display: block;
    margin-left: 8px;
    margin-bottom: 8px;
}