a {
    color: #61dafb;
}

label{
    color: white;
    display: block;
    margin-bottom: 20px;
}

input{
    background-color: lavender;
    border: 3px honeydew;
    border-width: 6px;
    box-shadow: 4px 8px rgb(68, 68, 68);
    display: block;
}

.QueryPadder{
    background-color: rgb(160, 104, 0);
    padding-bottom: 16vh;
    padding-left: 16px;
    padding-top: 6vh;
    top: 32vh;
}

.QueryForm{
    background-color: rgb(36, 56, 56);
    border: rgb(28, 48, 48);
    border-width: 8px;
    box-shadow: 8px 32px rgb(27, 41, 41);
}

.QueryButton{
    background-color: lavender;
    border: 4px honeydew;
    border-width: 6px;
    box-shadow: 4px 8px rgb(68, 68, 68);
    color: slategray;
    padding-bottom: 32;
}