a {
    color: #61dafb;
}

h1{
    color: white;
    font-size: 11;
    text-shadow: 4px 4px rgb(32, 48, 48);
}

label{
    color: white;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
}

input{
    background-color: lavender;
    border: 4px #423baa;
    border-width: 6px;
    border-style: solid;
    box-shadow: 13px 13px #1e0b52;
    display: block;
    height: 28px;
    max-width: 62vw; 
    padding-left: 6px;
    width: 246px;
}

.QueryPadder{
    background-color: #29132e;
    padding-bottom: 49px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;
}

.QueryForm{
    background-color: #331874;
    border: #270e4e;
    border-width: 8px;
    border-style: solid;
    box-shadow: 13px 32px #200f24;
}

.QueryButton{
    background-color: #423baa;
    border: 0;
    box-shadow: 8px 8px #1e0b52;
    color: white;
    height: 24;
    width: 58;
}

.QueryButtonWrapped{
    display: block;
    margin-bottom: 39px;
    margin-left: 188px;
}