.analystReportWrapper{
    background-color: #331874;
    border: #270e4e;
    border-width: 8px;
    border-style: solid;
    box-shadow: 15px 28px #120e24;
    margin: auto;
    margin-bottom: 36px;
    width: 76vw;
}

.analystReportBody{
    display: flex;
}

.analystHeadings{
    flex: 50%;
    padding-right: 6px;
    text-align: right;
}

.analystValues{
    flex: 50%;
    padding-left: 6px;
    text-align: left;
}