.fundamentalBody{
    background-color: #331874;
    border: #270e4e;
    border-width: 8px;
    border-style: solid;
    box-shadow: 15px 28px #120e24;
    display: flex;
    margin: auto;
    width: 76vw;
}

.fundamentalHeadings{
    flex: 50%;
    padding-right: 6px;
    text-align: right;
}

.fundamentalValues{
    flex: 50%;
    padding-left: 6px;
    text-align: left;
}