.fundamentalBody{
    display: flex;
}

.fundamentalHeadings{
    flex: 50%;
    padding-right: 6px;
    text-align: right;
}

.fundamentalValues{
    flex: 50%;
    padding-left: 6px;
    text-align: left;
}