.reportWrapper{
    align-items: center;
    align-content: center;
    color: white;
    cursor: grab;
    background-color: #1f1131;
    flex: 1;
    padding-bottom: 64vh;
    text-align: center;
}

.reportWrapper:active{
    cursor: grabbing;
}

.reportSlider .slick-dots{
    padding-bottom: 46px;
    pointer-events: none;
    position: relative;
}

.reportSlider .slick-dots li button::before{
    color: #423baa;
  }

.reportSlider .slick-dots li.slick-active button::before{
    color: lavender;
}

.signalsBody, .indicatorsBody, .metricsReport{
    padding-bottom: 64vh;
}