.slick-arrow slick-next{
    color: #4e43ac;
}

.slick-arrow slick-prev{
    color: #4e43ac;
}

.slick-dots{
    pointer-events: none;
}

.slick-dots li button::before{
    color: #4b349e;
}

.slick-dots li.slick-active button::before{
    color: #4e43ac;
}

.ReportWrapper{
    align-items: center;
    align-content: center;
    color: white;
    background-color: #1f1131;
    flex: 1;
    text-align: center;
}

.slick-prev{
    left: 31vw;
}

.slick-next{
    right: 81vw;
}