.slick-dots{
    pointer-events: none;
}

.slick-dots li button::before{
    color: #4b349e;
}

.slick-dots li.slick-active button::before{
    color: #4e43ac;
}

.ReportWrapper{
    align-items: center;
    align-content: center;
    display: flex;
    color: white;
    background-color: #1f1131;
    flex: 1;
    flex-flow: column;
    overflow: hidden;
    overflow-x: hidden;
    text-align: center;
}

.Report{
    flex: 1
}