a {
    color: #61dafb;
}

label, input {
    display: block;
}

label {
    color: white;
    margin-bottom: 20px;
}

.QueryForm{
    background-color: rgb(36, 56, 56);
    padding-bottom: 16vh;
    padding-left: 16px;
    padding-top: 6vh;
    top: 32vh;
}