.CoinLayer-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
.CoinLayer-showcase{
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: white;
    width: 50%;
  }