.CoinLayer-logo {
    height: 40vmin;
    pointer-events: none;
    width: 67vw
  }
  
.CoinLayer-showcase{
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    margin-left: 16vw;
    overflow: hidden;
    width: 67vw;
  }