.CoinLayerKeyLabel{
    color: white;
    padding-bottom: 32px;
}

.StartDateLabel{
    color: white;
    padding-bottom: 32px;
}

.EndDateLabel{
    color: white;
    padding-bottom: 32px;
}

.QueryLabel{
    padding-bottom: 1618px;
}

.Console{
    color: white;
    top: 32vh;
}

.Terminal{
    background-color: #282c34;
}