.CoinLayerKeyLabel{
    padding: 13px;
}

.StartDateLabel{
    padding: 13px;
}

.EndDateLabel{
    padding: 13px;
}

.QueryLabel{
    padding: 31px;
}

.Console{
    color: white;
    top: 32vh;
}

.Terminal{
    background-color: #282c34;
}